<% include header.html %>
<!-- add each css -->
<link type="text/css" rel="stylesheet" href="./css/index.min.css"/>
</head>
<body>
	<div class="v-box">
		<header class="v-box-top fixed">
			<a href="/" class="navbar-brand">
				<img class="logo" src="./images/logo1.png"/>
				<span class="hidden-xs">SSH</span>
			</a>
			<% if(user){ %>
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a href="javascript:;">
							<i class="fa fa-comment-o"><span class="badge"><%= user.messages.length %></span></i>
						</a>
					</li>
					<li>
						<a href="javascript:;">
							<img class="img-circle" src="<%= user.imageUrl %>"/>
							<span class="u-name"><%= user.username %></span>
							<span class="cart"></span>
						</a>
					</li>
				</ul>
			<% }else{ %>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="javascript:;">注册</a></li>
					<li><a href="javascript:;">登陆</a></li>
				</ul>
			<% } %>
		</header>
		<div class="h-box v-box-bottom">
			<nav class="h-box-left switch-sidebar float-left hidden">
				<section class="logo-section">
					<a href="/" class="logo-href" >
						<img class="logo" src="./images/logo.png"/>
						<span>Sunshine</span>
					</a>
				</section>
				<ul class="list-group">
					<li class="list-group-item"><a href="javascript:;">首页 &nbsp;&nbsp;HOME</a></li>
				</ul>
			</nav>
			<div class="h-box-right float-left">
				<ul class="slider-flag fixed">
					<li class="slider-flag-item"></li>
					<li class="slider-flag-item"></li>
				</ul>
			</div>
		</div>
	</div>
<% include footer.html %>
<!-- add each js -->

</body>
</html>
